AddDefaultCharset utf-8
Options -Indexes

php_value upload_max_filesize 10M
php_value post_max_size 100M

php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0

ErrorDocument 404 /404/
ErrorDocument 403 /404/

php_value session.cookie_lifetime 28800
php_value session.gc_maxlifetime 28800

php_value error_reporting 7

#php_value session.save_path z:\\home\\cms\\tmp

RewriteEngine on

# site update 29.09.16
RewriteRule ^services/videokonferentsiya/$ /business-centers/gostinyy-dvor/peregovornaya/ [R=301,L]
RewriteRule ^services/otdyh-rabota/$ /business-centers/rosa-khutor/ [R=301,L]
RewriteRule ^services/extra/kovorking/$ /services/coworking/ [R=301,L]
RewriteRule ^services/extra/ /services/ [R=301,L]
RewriteRule ^services/ofis-pod-predstavitelstvo-v-moskve/$ /business-centers/ [R=301,L]
RewriteRule ^services/(.*)/(.*)/$ /business-centers/$2/$1/ [R=301,L]

RewriteRule ^price/$ /services/ [R=302,L]
RewriteRule ^clients/ /company/ [R=302,L]
RewriteRule ^partners/ /company/ [R=302,L]
RewriteRule ^special-offers/ / [R=302,L]

# SCSS: styles.scss (file) -> /scss.php/styles.scss (processing) -> styles.css (browser)
RewriteRule ^scss\/(.*)\.css$ /scss.php/$1.scss [L]

#RewriteBase /

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^en/(.*)$ $1?l=en [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [L,R=301]

# url processing

# domain-mode (automated)
##RewriteCond %{REQUEST_URI} !^/admin/
##RewriteCond %{HTTP_HOST} ^(www\.)?(.*)$
##RewriteCond %{REQUEST_URI} !^/%2/
##RewriteRule ^(.*)$ %2/$1

# domain-mode (each domain specified)
#RewriteCond %{REQUEST_URI} !^/admin/
#RewriteCond %{HTTP_HOST} ^(www\.)?domain-name$
#RewriteCond %{REQUEST_URI} !^/site/
#RewriteRule ^(.*)$ site/$1

RewriteCond %{REQUEST_URI} !^/admin/
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-l 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# path-mode
#RewriteCond %{REQUEST_URI} ^/booclick/
#RewriteRule ^(.*)$ booclick/index.php [L]